@import url('./reset.css');
@import url('./post.css');

*::selection {
  background: var(--colors-violet5);
  color: var(--colors-violet12);
}

.global-layout {
  display: grid;
  grid-template: 'header' auto 'contents' 1fr 'footer' auto/100%;
  gap: 40px;
  min-height: 100vh;
}

.global-layout__header {
  grid-area: header;
}

.global-layout__contents {
  grid-area: contents;
}

.global-layout__footer {
  grid-area: footer;
}
