@import 'prism-themes/themes/prism-vsc-dark-plus.css';

.post {
  margin: var(--space-4) 0;
  letter-spacing: 1.6818;
  font-size: var(--fontSizes-3);
  font-weight: 500;
  color: var(--colors-slate12);
}

.post p {
  margin-top: 0;
  margin-bottom: 2.25rem;
}

.post a {
}

.post h2 {
  margin-bottom: 1.45em;
  font-size: var(--fontSizes-6);
  color: var(--colors-violet12);
}

.post h3 {
  margin-top: 2em;
  margin-bottom: 1.45em;
  font-size: var(--fontSizes-5);
  color: var(--colors-violet12);
}

.post h4 {
  margin-bottom: 1em;
  font-size: var(--fontSizes-4);
  color: var(--colors-violet12);
}

.post ul + p {
  margin-top: var(--space-4);
}

.post code {
  white-space: nowrap;
  font-family: inherit;
  margin: 0 2px;
  padding: 2px 3px;
  font-size: max(12px, 85%);
  color: var(--colors-violet11);
  background-color: var(--colors-violet3);
}

.remark-highlight pre code {
  white-space: break-spaces;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: inherit;
  background-color: transparent;
}

.remark-highlight pre {
  padding: 16px !important;
  margin-bottom: 2.25rem;
  border-radius: 6px;
}
